.forage-bar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-self: center;
    width: 70em;
    height: 5em;
    left: 50%;
    transform: translateX(-50%);
    padding: 5vh 5vw 5vh 5vw;
    top: 0px;
}

form {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 63%;
}

label {
    position: relative;
    display: inline-block;
    width: 42em;
}

select {
    position: relative;
}

.forage-box {
    width: 56em;
    min-height: 3.5em;
    line-height: 50%;
}

.forage-btn {
    float: right;
    height: 4em;
    width: 4em;
    background-color: none;
    border: none;
    padding: 0px;
    align-items: center;
}

.forage-icon {
    position: relative;
    height: 100%;
    margin: auto;
    object-fit: contain;
    object-position: center;
}
