.forage-bar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-self: center;
    max-width: 70vw;
    height: 5vh;
    left: 50%;
    transform: translateX(-50%);
    padding: 5vh 5vw 5vh 5vw;
    top: 0px;
}

select {
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
}

form {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 80%;
    margin-left: 2vw;
}

label {
    position: relative;
    width: 80%;
}

.forage-box {
    /* width: 80%; */
    min-height: 40px;
    top: 0px;
    /* text-align: center; */
    line-height: 50%;
}

.forage-btn {
    position: absolute;
    right: 29%;
    height: 4em;
    width: 4em;
    top: 0px;
}

.forage-icon {
    padding-top: 0.5em;
    height: 3em;
    width: 3em;
    content:url(./forageAssets/plntnsun.png);
    object-fit: contain;
    object-position: center;
}
