.plntable {
 width: 100vw;
 height: auto;
}

tr {
    text-align: center;
    border: 3em solid black;
}

tr:nth-child(even) {
    background-color: bisque;
}

tr:nth-child(odd) {
    background-color: aquamarine;
}

.plnt-img {
    height: 10em;
    width: 10em;
    object-fit: cover;
    object-position: center;
}