.plntable {
  position: relative;
  width: 95vw;
  height: auto;
  color: grey;
  left: 50%;
  transform: translateX(-50%);
}

.bold {
  font-weight: bold;
  color: black;
}

.plnt-card {
  width: 60vw;
  height: 35vh;
  margin: 1em 17.5vw 2em 17.5vw;
  border-radius: 0.5em;
  background-color: white;
  box-shadow: 0 0 0.4em 0.3em rgba(129, 129, 129, 0.35);
  overflow: hidden;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.text-container {
  padding-left: 4em;
}

.image-container {
  position: relative;
  width: 23%;
  height: 38vh;
  margin: 0;
}

.image {
  position: relative;
  height: 100%;
  width: 100%;
  left: 4%;
  top: -4%;
  object-fit: cover;
  object-position: center;
}

.sci-name {
    font-size: 3em;
    color: black;
}

.common-name {
    font-size: 2em;
    padding-top: 0.25em;
}

.icon {
  height: 1.5em;
  width: 1.5em;
}
