.plntable {
  position: relative;
  width: 95vw;
  height: auto;
  color: grey;
}

.bold {
  font-weight: bold;
  color: black;
}

.plnt-card {
  width: 60vw;
  height: 35vh;
  margin-bottom: 1em;
  background-color: white;
  overflow: hidden;
}

.row {
  position: relative;
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.text-container {
  padding-left: 4em;
}

.image-container {
  position: relative;
  width: 30%;
  height: 38vh;
  margin: 0;
}

.image {
  position: relative;
  height: 100%;
  width: 100%;
  left: 4%;
  top: -4%;
  object-fit: cover;
  object-position: center;
}

.sci-name {
    font-size: 2em;
    color: black;
    font-style: oblique;
}

.common-name {
    font-size: 1.5em;
    padding-top: 0.25em;
}

.icon {
  height: 1.5em;
  width: 1.5em;
}

.linebreak {
    position: relative;
    width: 55vw;
    border-top: 2px solid rgba(148, 142, 142, 0.329);
    margin-bottom: 1em;
    left: calc(5vw / 2);
}

.modicons {
  position: absolute;
  right: 2em;
}

.modicons * {
  margin-left: 1em;
  text-align: center;
}

.delete {
  transform: translateX(-40%);
}

.edit {
  transform: translateX(-35%);
}